/[Ll]ibrary/

/[Aa]ssets/_PLAYER/P_Warrior/WARRIOR_T_POSE.fbx

/.vs/

*.csproj
.vs/WarForged_v4/v15/.suo
.vs/WarForged_v4/v15/Server/sqlite3/storage.ide
.vs/WarForged_v4/v15/Server/sqlite3/storage.ide-shm
.vs/WarForged_v4/v15/Server/sqlite3/storage.ide-wal
Assembly-CSharp-Editor-firstpass.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp-firstpass.csproj
Assembly-CSharp.csproj
RadicalForge.Blockout.csproj
RadicalForge.Blockout.Editor.csproj
